@media (max-width: 640px) {
  .section__header .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 35px 20px 34px 20px;
  }
  .section__header .container__header .login__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__header .container__header .login__menu .p__login-menu {
    margin: 0 50px 0 0;
  }
  .section__header .container__header .login__menu .btn__menu {
    display: none !important;
  }
  .section__header .container__header .login__menu .a__btn-menu {
    text-decoration: none;
    color: #2B2B2B;
  }
  .section__header .container__header .login__menu .a__btn-menu:hover {
    color: #F6F6F6;
    background: #2B2B2B;
  }
}
@media (max-width: 640px) {
  .section__img {
    width: 100%;
  }
  .section__img .container__img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/Rectangle\ 128.jpg);
    max-width: 640px;
    height: 384px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section__img .container__img h1 {
    width: 271px;
    height: 98px;
    color: #F6F6F6;
    text-align: center;
    font-weight: 400;
    font-size: 41px;
    line-height: 120%;
  }
}