a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.headline__1 {
  font-weight: 400;
  font-size: 66px;
  line-height: 120%;
  color: #2B2B2B;
}

.headline__2 {
  font-weight: 400;
  font-size: 41px;
  line-height: 120%;
  color: #2B2B2B;
}

.headline__3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  color: #2B2B2B;
}

.section {
  width: 100%;
}

body {
  background-color: #F3F3F3;
  font-family: "SF Pro Display";
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.section__header .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 20px 34px 20px;
}
.section__header .container__header .login__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__header .container__header .login__menu .p__login-menu {
  margin: 0 50px 0 0;
}
.section__header .container__header .login__menu .btn__menu {
  background: #F6F6F6;
  border: 1px solid #2B2B2B;
  width: 285px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section__header .container__header .login__menu .a__btn-menu {
  text-decoration: none;
  color: #2B2B2B;
}
.section__header .container__header .login__menu .a__btn-menu:hover {
  color: #F6F6F6;
  background: #2B2B2B;
}

.section__img {
  width: 100%;
}
.section__img .container__img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/Rectangle\ 128.jpg);
  max-width: 1200px;
  height: 776px;
}
.section__img .container__img h1 {
  width: 367px;
  height: 158px;
  color: #F6F6F6;
  margin-right: 50px;
}
.section__img .container__img .a__btn__section__img {
  background: #F6F6F6;
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
  width: 285px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}
.section__img .container__img .a__btn__section__img:hover {
  background-color: #2B2B2B;
  color: #F6F6F6;
}

.section__about_the_project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__about_the_project .container__about_the_project {
  margin-top: 200px;
  height: 789px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__about_the_project .container__about_the_project .contant__about_the_project {
  margin-top: 100px;
  max-width: 600px;
  margin-right: 30px;
}
.section__about_the_project .container__about_the_project h2 {
  width: 189px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 41px;
  line-height: 120%;
}
.section__about_the_project .container__about_the_project p {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.section__about_the_project .container__about_the_project .img__about_the_project__400 {
  width: 400px;
  display: none;
}
.section__about_the_project .container__about_the_project .img__about_the_project {
  width: 570px;
  height: 589px;
}

.section__location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__location .container__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__location .container__location .content__location {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}
.section__location .container__location h2 {
  margin-top: 100px;
}
.section__location .container__location p {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.section__location .container__location .location__map {
  display: block;
}
.section__location .container__location .location__map__400 {
  display: none;
}

.section__style {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}
.section__style .container__style {
  max-width: 1200px;
  height: 716px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__style .container__style .content__style {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__style .container__style h2 {
  margin-top: 100px;
  padding-bottom: 25px;
}
.section__style .container__style p {
  width: 570px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.section__style .container__style .img__style {
  background-image: url(../img/Rectangle\ 130.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  height: 516px;
}

.section__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.section__offers .container__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  height: 1274px;
}
.section__offers .container__offers .contant__offer_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__offers .container__offers h3 {
  padding-top: 50px;
}
.section__offers .container__offers .img__offer__first {
  margin-top: 50px;
  background-image: url(../img/Rectangle\ 126.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  height: 608px;
}
.section__offers .container__offers p {
  padding-top: 25px;
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2B2B2B;
  width: 570px;
}
.section__offers .container__offers .btn__offer__first {
  background: #F6F6F6;
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
  width: 285px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section__offers .container__offers .btn__offer__first:hover {
  background-color: #2B2B2B;
  color: #F6F6F6;
}
.section__offers .container__offers .contant__offer__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__offers .container__offers .img__offer__second {
  margin-top: 180px;
  background-image: url(../img/Rectangle\ 127.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 570px;
  height: 608px;
}
.section__offers .container__offers .btn__offer__second {
  background: #F6F6F6;
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
  width: 285px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section__offers .container__offers .btn__offer__second:hover {
  background-color: #2B2B2B;
  color: #F6F6F6;
}

.cection__specifications {
  width: 100%;
}
.cection__specifications .container__specifications {
  max-width: 1200px;
  height: 1025px;
}
.cection__specifications .container__specifications h2 {
  margin: 100px 0px 50px 0px;
}
.cection__specifications .container__specifications .specifications__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cection__specifications .container__specifications .specifications__contant .specifications__block:first-child {
  border-top: solid 1px #2B2B2B;
}
.cection__specifications .container__specifications .specifications__block {
  border-bottom: solid 1px #2B2B2B;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cection__specifications .container__specifications .specifications__text {
  padding-top: 25px;
  width: 570px;
  height: 24px;
}

.section__footer {
  width: 100%;
  background-color: #2B2B2B;
}
.section__footer .container__footer {
  height: 666px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__footer .container__footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__footer .container__footer .footer__signup {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__footer .container__footer .footer__signup h2 {
  color: #F3F3F3;
  padding-top: 100px;
}
.section__footer .container__footer .footer__signup .form__1 {
  margin-top: 50px;
  display: block;
  background-color: #2B2B2B;
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: solid 1px #959595;
  padding-left: 5px;
  color: #fff;
}
.section__footer .container__footer .footer__signup .form__2 {
  padding-left: 5px;
  margin-top: 50px;
  display: block;
  background-color: #2B2B2B;
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: solid 1px #959595;
  color: #959595;
}
.section__footer .container__footer .footer__signup a {
  margin-top: 50px;
  background: #F6F6F6;
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
  width: 200px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section__footer .container__footer .footer__signup a:hover {
  background-color: #2B2B2B;
  color: #F3F3F3;
  border: solid 1px #959595;
}
.section__footer .container__footer .footer__signup .form__gava {
  display: block;
  padding-top: 50px;
  color: #F3F3F3;
  width: 300px;
  font-size: 12px;
}
.section__footer .container__footer .footer__signup .form__gava .input__gava {
  margin-right: 20px;
}
.section__footer .container__footer .footer__signup span {
  text-decoration: underline;
}
.section__footer .container__footer .footer__contacts {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F3F3F3;
}
.section__footer .container__footer .footer__contacts h2 {
  padding-bottom: 50px;
  color: #F3F3F3;
  padding-top: 100px;
}
.section__footer .container__footer .footer__contacts .adress {
  width: 202px;
  height: 48px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section__footer .container__footer .footer__contacts a {
  text-decoration: underline;
}
.section__footer .container__footer .footer__contacts .footer__icons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__footer .footer__nav {
  margin: 0 auto;
  max-width: 1200px;
  border-top: solid 1px #959595;
}
.section__footer .footer__nav .footer__content__nav {
  padding-top: 25px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}
.section__footer .footer__nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}