a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none
}

ul {
    list-style: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.headline__1 {
    font-weight: 400;
    font-size: 66px;
    line-height: 120%;
    color: #2B2B2B;
}

.headline__2 {
    font-weight: 400;
    font-size: 41px;
    line-height: 120%;
    color: #2B2B2B;
}

.headline__3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: #2B2B2B;
}

.section {
    // padding: 0px 15px 0px 15px;
    width: 100%;
}

body {
    background-color: #F3F3F3;
    font-family: 'SF Pro Display';
    // padding: 0px 15px 0px 15px;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.section__header {

    .container__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 20px 34px 20px;

        .login__menu {
            display: flex;
            align-items: center;

            .p__login-menu {
                margin: 0 50px 0 0;
            }

            .btn__menu {
                background: #F6F6F6;
                border: 1px solid #2B2B2B;
                width: 285px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s;
            }

            .a__btn-menu {
                text-decoration: none;
                color: #2B2B2B;

                &:hover {
                    color: #F6F6F6;
                    background: #2B2B2B;

                }
            }
        }
    }
}



.section__img {
    width: 100%;

    .container__img {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        background-image: url(../img/Rectangle\ 128.jpg);
        max-width: 1200px;
        height: 776px;

        h1 {
            width: 367px;
            height: 158px;
            color: #F6F6F6;
            margin-right: 50px;
        }

        .a__btn__section__img {
            background: #F6F6F6;
            color: #2B2B2B;
            border: 1px solid #2B2B2B;
            width: 285px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            display: none;

            &:hover {
                background-color: #2B2B2B;
                color: #F6F6F6;
            }
        }
    }
}

.section__about_the_project {
    width: 100%;
    display: flex;

    .container__about_the_project {
        margin-top: 200px;
        height: 789px;
        display: flex;
        justify-content: space-between;

        .contant__about_the_project {
            margin-top: 100px;
            max-width: 600px;
            margin-right: 30px;
        }

        h2 {
            width: 189px;
            padding-bottom: 25px;
            font-weight: 400;
            font-size: 41px;
            line-height: 120%;
        }

        p {
            padding-top: 25px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

        }

        .img__about_the_project {
            width: 570px;
            height: 589px;
            
        }

        .img__about_the_project__640{
            display: none;
        }
    }
}


.section__location {
    width: 100%;
    display: flex;

    .container__location {
        display: flex;
        max-width: 1200px;
        height: 718px;
        flex-direction: row-reverse;
        justify-content: space-between;

        .content__location {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-left: 20px;


        }

        h2 {
            margin-top: 100px;
        }

        p {
            padding-top: 25px;
            width: 570px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
}

.section__style {
    width: 100%;
    display: flex;

    .container__style {
        max-width: 1200px;
        height: 716px;
        display: flex;
        justify-content: space-between;


        .content__style {
            width: 50%;
            display: flex;
            flex-direction: column;

        }

        h2 {
            margin-top: 100px;
            padding-bottom: 25px;
        }

        p {
            width: 570px;
            padding-top: 25px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }

        .img__style {
            background-image: url(../img/Rectangle\ 130.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 570px;
            height: 516px;
        }
    }
}

.section__offers {
    display: flex;
    width: 100%;

    .container__offers {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        height: 1274px;

        .contant__offer_first {
            display: flex;
            flex-direction: column;
        }

        h3 {
            padding-top: 50px;
        }

        .img__offer__first {
            margin-top: 50px;
            background-image: url(../img/Rectangle\ 126.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 570px;
            height: 608px;
        }

        p {
            padding-top: 25px;
            padding-bottom: 50px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #2B2B2B;
            width: 570px;
        }

        .btn__offer__first {
            background: #F6F6F6;
            color: #2B2B2B;
            border: 1px solid #2B2B2B;
            width: 285px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;

            &:hover {
                background-color: #2B2B2B;
                color: #F6F6F6;
            }
        }

        .contant__offer__second {
            display: flex;
            flex-direction: column;
        }

        .img__offer__second {
            margin-top: 180px;
            background-image: url(../img/Rectangle\ 127.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 570px;
            height: 608px;
        }

        .btn__offer__second {
            background: #F6F6F6;
            color: #2B2B2B;
            border: 1px solid #2B2B2B;
            width: 285px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;

            &:hover {
                background-color: #2B2B2B;
                color: #F6F6F6;
            }
        }
    }
}

.cection__specifications {
    width: 100%;


    .container__specifications {
        max-width: 1200px;
        height: 1025px;

        h2 {
            margin: 100px 0px 50px 0px
        }

        .specifications__contant {
            display: flex;
            flex-direction: column;

            .specifications__block:first-child {
                border-top: solid 1px #2B2B2B;
            }
        }

        .specifications__block {
            border-bottom: solid 1px #2B2B2B;
            height: 74px;
            display: flex;
            justify-content: space-between;
        }



        .specifications__text {
            padding-top: 25px;
            width: 570px;
            height: 24px;
        }
    }
}

.section__footer {
    width: 100%;
    background-color: #2B2B2B;


    .container__footer {
        height: 666px;
        display: flex;
        justify-content: space-between;

        .footer__content {
            display: flex;
        }

        .footer__signup {
            width: 600px;
            display: flex;
            flex-direction: column;

            h2 {
                color: #F3F3F3;
                padding-top: 100px;
            }

            .form__1 {
                margin-top: 50px;
                display: block;
                background-color: #2B2B2B;
                width: 400px;
                height: 50px;
                border: none;
                border-bottom: solid 1px #959595;
                padding-left: 5px;
                color: #fff;
            }

            .form__2 {
                padding-left: 5px;
                margin-top: 50px;
                display: block;
                background-color: #2B2B2B;
                width: 400px;
                height: 50px;
                border: none;
                border-bottom: solid 1px #959595;
                color: #959595;
            }

            a {
                margin-top: 50px;
                background: #F6F6F6;
                color: #2B2B2B;
                border: 1px solid #2B2B2B;
                width: 200px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.3s;

                &:hover {
                    background-color: #2B2B2B;
                    color: #F3F3F3;
                    border: solid 1px #959595;
                }
            }

            .form__gava {
                display: block;
                padding-top: 50px;
                color: #F3F3F3;
                width: 300px;
                font-size: 12px;


                .input__gava {
                    margin-right: 20px;
                }
            }

            span {
                text-decoration: underline;
            }
        }

        .footer__contacts {
            width: 600px;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #F3F3F3;

            // .footer__contacts__inside{

            // }

            h2 {
                padding-bottom: 50px;
                color: #F3F3F3;
                padding-top: 100px;
            }

            .adress {
                width: 202px;
                height: 48px;
                font-size: 16px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            a {
                text-decoration: underline;
            }

            .footer__icons {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .footer__nav {
        margin: 0 auto;
        max-width: 1200px;
        border-top: solid 1px #959595;

        .footer__content__nav {
            padding-top: 25px;
            height: 68px;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
        }

        span {
            display: flex;
            justify-content: space-between;
            width: 600px;
        }
    }

}